.about {
    margin-top: 60px;
    margin-bottom: 154px;
    
    &__wrapper-content {
        margin-top: 50px;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
    &__content {
        max-width: 405px;
    }

    &__text {
        font-size: 13px;
        line-height: 23px;
    }

    &__title-content {
        max-width: 400px;
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 30px;
        span {
            color: $hoverMenu;
        }
    }

    &__content-foto {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item-foto {
        position: relative;
        margin-right: 20px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__foto-text {
        position: absolute;
        top: 15px;
        left: 15px;
        max-width: 40%;
        color: $colorTitle;
        font-weight: 600;
    }
}