.coffeeface-wrapper {
	display: flex;
	position: relative;
}

.coffeeface {
	background-color: #000;
	color: $colorWhite;
	padding: 130px 0;

	&__content {
		text-align: center;
		flex-basis: 50%;
		padding: 0 9%;

		.logo {
			display: flex;
			justify-content: center;
			margin-bottom: 26px;
		}
	}
	&__text {
		font-weight: 300;
		font-size: 22px;
		line-height: 170%;
	}
	&__img {
		position: relative;
		width: 40%;
		img {
			position: absolute;
			top: -180px;
			left: 0;
			max-width: 450px;
		}
	}

}

@media screen and (max-width: 992px) {
	.coffeeface-wrapper {
		align-items: center;
	}
	.coffeeface {
		padding: 0;
		&__content {
			padding: 0 40px;
			flex-basis: 60%;
		}
		&__img {
			max-width: 350px;
			flex-basis: auto;
			img {
				position: relative;
				top: 0;
				max-width: 100%;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.coffeeface-wrapper {
		flex-direction: column-reverse;
		justify-content: center;
	}
	.coffeeface {
		padding: 0 25px;
		&__content {
			padding: 0 0 50px;

		}
		&__text {
			font-size: 16px;
		}
		&__img {
			margin-bottom: 30px;
			flex-basis: auto;
			text-align: center;

			min-width: 270px;
			max-width: 450px;
			img {
				top: -10px;
				position: relative;
			}
		}
	}
}
