.footer {
    background-color: $footerBg;
    font-size: 11px;
    padding-top: 45px;
    color: $colorFff;

}
.f-wrapper  {
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
}




.company-block {
    max-width: 250px;

    &__company {
        text-transform: uppercase;
    }

    &__logo {
        margin: 15px 0;
    }
    &__content {
        line-height: 19px;
    }
}

.f-links{
    &__links {
        margin-bottom: 15px;
        text-transform: uppercase;
    }
}

.f-links-row{
    display: flex;
    justify-content: space-around;
    a {
        color: #fff;
    }
}
.menu-footer {

    &__link {
        display: block;
        padding: 3px 0;
    }
}

.faq, .blog {
    text-transform: uppercase;

    &__link {

        display: block;
        padding: 3px 20px;
    }
}

.f-contact {
    &__title {
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &__phone, &__email{
        display: block;
        margin-top: 14px;
        color:$colorFff;

    }
}

.f-social {
    display: flex;
    align-items: start;
    &__item {
        cursor: pointer;
        margin-right: 15px;
        &:last-child{
            margin-right: 0;
        }
    }

    &__link {

        color: #fff;
        display: block;
        width: 16px;
        height: 16px;
    }
}

.footer-copyright {
    text-align: center;
    padding: 22px 0;
    background-color: black;
}