@mixin display-flex ($value){
    display: $value;
    
}

@mixin  btn-menu-aft-bfr ($width: 0, $height: 0) {
    content: '';
    position: absolute;
    background-color:  $colorAllText;
    width: $width;
    height: $height;
}