.benefit {
	padding-top: 100px;

	&__content {
		text-align: center;
		flex-basis: 40%;
	}

	&__title {
		font-weight: 200;
		font-size: 40px;
		line-height: 130%;
	}

	&__reviews {
		margin-top: 35px;
		margin-bottom: 25px;
		font-weight: 300;
		font-size: 18px;

		span {
			&:first-child {
				margin-left: 10px;
			}

			&:last-child {
				opacity: .3;
			}
		}
	}

	&__text {
		font-weight: 300;
		font-size: 18px;
		line-height: 170%;
		margin-bottom: 20px;
	}

	&__prices {
		margin-bottom: 25px;
		font-weight: 200;
		font-size: 30px;
		line-height: 150%;
	}

	&__oldPrice {
		color: #cccccc;
		margin-right: 15px;
		position: relative;
		z-index: 9;
		font-size: 20px;

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: -10%;
			width: 120%;
			height: 1px;
			z-index: 10;
			background-color: #000;
		}

	}

	&__btn {
		padding: 20px 90px;
		min-width: 300px;
	}

	&__img {
		flex-basis: 50%;
	}
}

.benefit-wrapper {
	display: flex;
	align-items: center;

}

@media screen and (max-width: 992px) {
	.benefit {
		padding-bottom: 50px;
	}

	.benefit__content {
		flex-basis: 60%;
		padding: 0 15px;
	}
}

@media screen and (max-width: 768px) {
	.benefit-wrapper {
		flex-direction: column-reverse;
	}
}

@media screen and (max-width: 576px) {
	.benefit__title {
		font-size: 30px;
	}
	.benefit__btn {
		padding: 15px 90px
	}
}

