.exfoliate {
	background: url("../img/exfoliate.png") no-repeat center;
	background-size: 100%;
	max-height: 700px;
	min-height: 500px;
	text-align: center;
	position: relative;

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 10;
		background: rgba(0,0,0, .1);
	}
}
.exfoliate-title {
	font-weight: 200;
	font-size: 60px;
	line-height: 120%;
	color: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -81px;
	max-width: 300px;
	z-index: 20;
}

@media screen and (max-width: 992px)  {
.exfoliate {
	min-height: 400px;
}
}

@media screen and (max-width: 768px){
	.exfoliate {
		min-height: 300px;
	}
	.exfoliate-title {
		font-size: 40px;
	}
}

@media screen and (max-width: 576px) {
	.exfoliate {
		background-size: cover;
	}
}

@media screen and (max-width: 400px) {
	.exfoliate {
		position: relative;
		padding-top: 500px;
		background: url("../img/exfoliate-mobile.png") no-repeat bottom;

		&__overlay {
			z-index: 15;
			background: linear-gradient(170.22deg, #FEF6F3 8%, rgba(254, 246, 243, 0) 68%);

		}
	}
	.exfoliate-title {
		position: absolute ;
		top: 15px;
		left: 0;
		right: 0;
		z-index: 20;
		margin: 0 auto;
		color: #000;
	}
}